.c-card {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-flow: wrap column;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: lighten($c-four, 10%);
    overflow: hidden;
    box-shadow: 0;
    perspective: 1000px;
    transform: rotateY(0deg) rotateX(0deg) scale(1) translate3d(0, 0, 0);
    transform-style: preserve-3d;
    backface-visibility: visibile;
    transform-origin: center center;
    transition: all 0.6s $easing-smooth 0s;

    &:hover,
    &:focus {
        //transform: rotateY(180deg) rotateX(2deg) scale(1.01) translate3d(-2px, -16px, 0);
        box-shadow: -6px 6px 20px 0px rgba($ct-dark, 0.2);

        .c-card__image {
            background-size: 110%;
        }
    }

    &:active {
        transform: translate3d(0, -2px, 0px) scale(1.005);
        box-shadow: 0px 1px 8px 1px rgba($ct-dark, 0.1);
        transition: all 0.2s $easing-smooth 0s;
    }
}

.c-card__image {
    @include responsive-ratio(6,4);
    background-size: 100%;
    background-position: center center;
    background-color: darken($c-four, 5%);
    background-repeat: no-repeat;
    transition: background-size 3s $easing-smooth 0s;
    backface-visibility: hidden;
}

.c-card__inner {
    margin-top: 0;
    border: 0.05rem solid $c-four;
    border-radius: 0 0 4px 4px;
    padding: 20px;
    perspective: 1500px;
    transform: translate3d(0, 0, 50px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    //transform: rotateY(0deg) rotateX(0deg) scale(1) translate3d(0, 0, 0);
}

.c-card__context {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.c-card__context-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.c-card__context-text {
    color: $c-seven;
    font-size: 12px;
    margin: 0;
}

.c-card__title {
    color: $c-six;
    font-size: 32px;
}

.c-card__description {
    font-size: 18px;
}

.c-card__buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 0;
}

.c-card__tag {
    color: $c-seven;
    font-size: 12px;
}

.c-card__date {
    color: $c-seven;
    font-size: 12px;
}

.c-card--fullbody {
    min-height: 500px;
    align-items: center;
    justify-content: center;

    .c-card__image {
        padding: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: cover;
        z-index: 1;
    }

    .c-card__inner {
        position: relative;
        color: $ct-light;
        z-index: 2;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 0;
    }

    &:hover,
    &:focus {
        .c-card__image {
            background-size: cover;
        }
    }

    &:active {
        .c-card__image {
            background-size: cover;
        }
    }
}
