* + * {
    margin-top: 1.5em;
}

.section {
    position: relative;
    width: 100%;
    padding: 10% 2%;
}

.section--centered {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: flex-start;
}
