// Site
$site-width: 790px;

// Spacing
$spacing: 10px;
$spacing-large: 15px;

// Borders
$b-radius: 5px;

// Transition
$easing: cubic-bezier(0.8, 0, 0.2, 1);
$easing-smooth: cubic-bezier(0, 0, 0.32, 1);
