{% macro button(props) %}

    <button
        class="
            c-button
            {% if props.variant|length %}
                {% for variant in props.variant %}
                    c-button--{{ variant }}
                {% endfor %}
            {% endif %}

            {% if props.extraClasses|length %}
                {{- props.extraClasses|join(' ') }}
            {% endif %}

        ">
            {{ props.text|default('View more') }}
    </button>

{% endmacro %}
