{% macro callout(props) %}

<div class="c-callout">

    <h2 class-"c-callout__header">{{ calloutTitle }}</h2>

    {% if props.buttons|length %}
        {% from 'button.twig' import buttons %}
        {% if props.buttons|length > 1 %}
            <div class="c-callout__buttons">
                {% for button in props.button %}
                    {{ button(button) }}
                {% endfor %}
            </div>
        {% else %}
            {% for button in props.buttons %}
                {{ button(button) }}
            {% endfor %}
        {% endif %}
    {% endif %}

</div>

{% endmacro %}
