{% import 'form.twig' as forms %}

<form class="form form--contact">

    {{ forms.input({label: 'full width', modifier: 'full', name: 'fullwidth'}) }}
    {{ forms.input({label: 'full width', modifier: 'full', name: 'fullwidth'}) }}
    {{ forms.input({label: 'default', name: 'default'}) }}
    {{ forms.input({label: 'default', name: 'default'}) }}


</form>
